@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow_img{
    box-shadow: 0px   0px 50px #0052CC;
    border-radius: 30px;
}
.text-color{
    color: #0052CC;
}
.background-color{
    background: #f1f3f6;
}
.image_shadow{
    box-shadow: 0px   0px 50px #1e51fc48;
}